.Input {
    padding: calc(var(--smal-size) / 2);
    border: 1px solid var(--secondary-border-color);
    border-radius: var(--extra-small-radius);
    background: var(--secondary-background-color);
    box-shadow: var(--light-box-shadow);
    color: var(--text-color);
}