.Button {
    cursor: pointer;
    padding: calc(var(--smal-size) / 2);
    border: 1px solid var(--secondary-border-color);
    border-radius: var(--extra-small-radius);
    background: var(--secondary-color);
    box-shadow: var(--light-box-shadow);
    color: var(--text-color);
}

.Button:is(:hover, :focus, :active) {
    filter: brightness(90%)
}

.Button--primary {
    background-color: var(--primary-color);
    color: var(--inverted-text-color);
    border-color: var(--primary-color);
}

.Button--icon {
    background: transparent;
    border-color: transparent;
    box-shadow: unset;
}

.Button--primary--outlined {
    background-color: unset;
}