.BookItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: var(--medium-size);
}

.BookItem__containerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--medium-radius);
}

.BookItem__image {
    width: auto;
    max-width: 100%;
    height: 300px;
}

.BookItem__info {
    line-height: 1.2;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.BookItem__info h2 {
    margin-bottom: calc(var(--smal-size) / 2);
    font-size: 1.2rem;
}

.BookItem__info h3 {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
}

.BookItem__info_text a {
    text-decoration: none;
    color: inherit;
}